<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzj.bookshop.mapper.BookMapper">
    <!--添加书籍-->
    <insert id="addBook" parameterType="com.hzj.bookshop.bean.Book">
        INSERT INTO book(book_name, book_img, ISBN, book_introduction, author_introduction, book_directory, book_author, book_press, book_binding, book_translator, publisher_time, book_page, book_prices, grade)
        VALUE (#{book_name}, #{book_img}, #{ISBN}, #{book_introduction}, #{author_introduction}, #{book_direction}, #{book_author}, #{book_press}, #{book_binding}, #{book_translator}, #{publisher_time}, #{book_page}, #{book_prices}, #{grade})
    </insert>

    <!--通过书籍主键进行查找-->
    <select id="findBookByISBN" parameterType="string" resultType="com.hzj.bookshop.bean.Book">
        SELECT book_name, book_img, ISBN, book_introduction, author_introduction, book_directory book_direction, book_author, book_press, book_binding, book_translator, publisher_time, book_page, book_prices, grade
        FROM book
        WHERE ISBN = #{ISBN}
    </select>

    <!--通过书籍名称查找书籍， 实现通过书籍名进行搜索-->
    <select id="searchBook" parameterType="string" resultType="com.hzj.bookshop.bean.Book">
        SELECT book_name, book_img, ISBN, book_introduction, author_introduction, book_directory book_direction, book_author, book_press, book_binding, book_translator, publisher_time, book_page, book_prices, grade
        FROM book
        WHERE book_name like '%${value}%'
    </select>

    <!--通过作者名查找书籍， 实现查找作者所写的书-->
    <select id="findBookByAuthor" parameterType="string" resultType="com.hzj.bookshop.bean.Book">
        SELECT book_name, book_img, ISBN, book_introduction, author_introduction, book_directory book_direction, book_author, book_press, book_binding, book_translator, publisher_time, book_page, book_prices, grade
        FROM book
        WHERE book_author = #{book_author}
    </select>

    <!--通过译者名查找书籍， 查找译者翻译的所有书籍-->
    <select id="findBookBytranslator" parameterType="string" resultType="com.hzj.bookshop.bean.Book">
        SELECT book_name, book_img, ISBN, book_introduction, author_introduction, book_directory book_direction, book_author, book_press, book_binding, book_translator, publisher_time, book_page, book_prices, grade
        FROM book
        WHERE book_translator = #{book_translator}
    </select>

</mapper>