<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="intro">
    <p>Brian W. Kernighan： 贝尔实验室计算科学研究中心高级研究人员，著名的计算机科学家。他参加了UNIX系统、C语言、AWK语言和许多其他系统的开发，同时出版了许多在计算机领域具有影响的著作，如《The Elements of Programming Style》、《The Practice of Programming》、《The UNIX Programming Environment》、《The AWK Language》、《Software Tools》等。</p>
    <p>Dennis M. Ritchie：1967年加入贝尔实验室。他和Ken L. Thompson两人共同设计并实现的C语言改变了程序设计语言发展的轨迹，是程序设计语言发展过程中的一个重要里程碑。与此同时，他们两人还设计并实现了UNIX操作系统。正是由于这两项巨大贡献，Dennis M. Ritchie于1983年获得了计算机界的最高奖——图灵奖。此外，他还获得了ACM、IEEE、贝尔实验室等授予的多种奖项.。</p>
</div>

Brian W. Kernighan： 贝尔实验室计算科学研究中心高级研究人员，著名的计算机科学家。他参加了UNIX系统、C语言、AWK语言和许多其他系统的开发，同时出版了许多在计算机领域具有影响的著作，如《The Elements of Programming Style》、《The Practice of Programming》、《The UNIX Programming Environment》、《The AWK Language》、《Software Tools》等。
Dennis M. Ritchie：1967年加入贝尔实验室。他和Ken L. Thompson两人共同设计并实现的C语言改变了程序设计语言发展的轨迹，是程序设计语言发展过程中的一个重要里程碑。与此同时，他们两人还设计并实现了UNIX操作系统。正是由于这两项巨大贡献，Dennis M. Ritchie于1983年获得了计算机界的最高奖——图灵奖。此外，他还获得了ACM、IEEE、贝尔实验室等授予的多种奖项.。


<div class="indent" id="dir_1139336_full" style="display:none">
    出版者的话
    <br> 专家指导委员会
    <br> 中文版序
    <br> 译者序
    <br> 校译者简介
    <br> 序
    <br> 第1版序
    <br> 引言
    <br> 第1章 导言
    <br> 1.1 入门
    <br> 1.2 变量与算术表态式
    <br> 1.3 for语句
    <br> 1.4 符号常量
    <br> 1.5 字符输入/输出
    <br> 1.6 数组
    <br> 1.7 函数
    <br> 1.8 参数——传值调用
    <br> 1.9 字符数组
    <br> 1.10 外部变量与作用域
    <br> 第2章 类型、运算符与表达式
    <br> 2.1 变量名
    <br> 2.2 数据类型及长度
    <br> 2.3 常量
    <br> 2.4 声明
    <br> 2.5 算术运算符
    <br> 2.6 关系运算符与逻辑运算符
    <br> 2.7 类型转换
    <br> 2.8 自增运算符与自减运算符
    <br> 2.9 按位运算符
    <br> 2.10 赋值运算符与表达式
    <br> 2.11 条件表达式
    <br> 2.12 运算符优先级与求值次序
    <br> 第3章 控制流
    <br> 3.1 语句与程序块
    <br> 3.2 if-else语句
    <br> 3.3 else-if语句
    <br> 3.4 switch语句
    <br> 3.5 whil循环与for特环
    <br> 3.6 do-while循环
    <br> 3.7 break语句与continue语句
    <br> 3.8 goto语句与标号
    <br> 第4章 涵数与程序结构
    <br> 第5章 指针与数组
    <br> 第6章 结构
    <br> 第7章 输入与输出
    <br> 第8章 UNIX系统接口
    <br> 附录A 参考手册
    <br> 附录B 标准库
    <br> 附录C 变更小结
    <br> 索引
</div>
</body>
</html>